<div class="searchBarWrapper">
  <label>
    <input
      class="search-input"
      id="searchInput"
      placeholder="Search..."
      type="text">
  </label>
  <div class="checkboxWrapper">
    <div class="inputContainer">
      <span><b>Suitable for:</b></span>

      <label>
        <input id="veganCheckbox" name="vegan" type="checkbox">
        Vegan
      </label>

      <label>
        <input id="vegetarianCheckbox" name="vegetarian" type="checkbox">
        Vegetarian
      </label>
    </div>

    <div class="inputContainer" id="allergenCheckboxes">
      <span><b>Exclude:</b></span>
      <label>
        <input type="checkbox" value="nuts">
        Nuts
      </label>
      <label>
        <input type="checkbox" value="gluten">
        Gluten
      </label>
      <label>
        <input type="checkbox" value="soy">
        Soy
      </label>
    </div>
  </div>
</div>
